ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}
body {
    
    
    background-repeat: no-repeat;
    
    background-size: 100% 100%;

  }

.button:focus {
    outline: 0;
}
.button1 {
    display: inline-block;
  
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4ae74a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button1:hover {background-color: #329932}
  
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button2 {
    display: inline-block;
  
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#0066ff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button2:hover {background-color: #273F87}
  
  .button2:active {
    background-color: #0066ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .button3 {
    display: inline-block;
  
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF4C4C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button3:hover {background-color: #ff3300}
  
  .button3:active {
    background-color: #ff3300;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 20px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 10px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   



/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}